* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.header {
    background-color: #F9B058;
    height: 80px;
    width: 100%;
    color: white;
    list-style: none;
}

.logo {
    width: 40px;
    position: relative;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    color: white;
    text-decoration: none;
}

.menu_header {
    margin-right: 10%;
    color: white;
    font-size: 20pt;
    list-style: none;
}

.menu_header li { 
    float: right;
    margin-right: 5%;
    position: relative;
    top: 0px;
}